{{ extends "global/Page.html" }}
{{ load otree static }}

{{ block title }}
Economic and Work Status
{{ endblock }}

{{ block content }}

<p>
Below you will find a list of symptoms.  
Please indicate how severe each symptom has been over the <b>past few weeks</b>.
</p>

<p>
<i>
1 = None &nbsp;&nbsp;
2 = Mild &nbsp;&nbsp;
3 = Moderate &nbsp;&nbsp;
4 = Severe &nbsp;&nbsp;
5 = Very severe &nbsp;&nbsp;
“Prefer not to answer” if you do not wish to respond
</i>
</p>

<table class="table">
    <tr>
        <th style="width: 25%;">Domain</th>
        <th>Symptom - Response (1-5 or Prefer not to answer)</th>
    </tr>

    <!-- Psychological domain -->
    <tr>
        <td><b>Psychological</b></td>
        <td>{{ formfield 'ams1' }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ formfield 'ams2' }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ formfield 'ams3' }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ formfield 'ams4' }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ formfield 'ams5' }}</td>
    </tr>

    <!-- Somato-vegetative domain -->
    <tr>
        <td><b>Somato-vegetative (physical)</b></td>
        <td>{{ formfield 'ams6' }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ formfield 'ams7' }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ formfield 'ams8' }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ formfield 'ams9' }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ formfield 'ams10' }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ formfield 'ams11' }}</td>
    </tr>

    <!-- Sexual domain -->
    <tr>
        <td><b>Sexual</b></td>
        <td>{{ formfield 'ams12' }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ formfield 'ams13' }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ formfield 'ams14' }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ formfield 'ams15' }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ formfield 'ams16' }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ formfield 'ams17' }}</td>
    </tr>
</table>



{{ next_button }}

{{ endblock }}