{{ extends "global/Page.html" }}
{{ load otree static }}

{{ block title }}
PARTICIPANT INFORMATION
{{ endblock }}

{{ block content }}

<p><strong>Benefits and Risks of the Study</strong> The benefits of this research include furthering our knowledge of
    how people make economic decisions. The study includes standard, validated questionnaires about physical and
    psychological health. No physical risks are expected, and any mental discomfort is minimal. </p>

<p><strong>Researchers</strong> The researchers are </p>

<table width="60%">
    <tr>
        <td style="width: 35%;">Loukas Balafoutas</td>
        <td>L.Balafoutas@exeter.ac.uk</td>
    </tr>
    <tr>
        <td>Helen Dawes</td>
        <td>H.Dawes@exeter.ac.uk</td>
    </tr>
    <tr>
        <td>Chris Fox</td>
        <td>Christopher.Fox@exeter.ac.uk</td>
    </tr>
    <tr>
        <td>Helena Fornwagner</td>
        <td>H.Fornwagner@exeter.ac.uk</td>
    </tr>
    <tr>
        <td>Mae Mansoubi</td>
        <td>M.Mansoubi@exeter.ac.uk</td>
    </tr>
    <tr>
        <td>Gemma Sharp</td>
        <td>G.C.Sharp@exeter.ac.uk</td>
    </tr>
</table>
<br>
<p>and all from the University of Exeter. </p>
<p>Should you have any questions or concerns, please contact the Project Lead, Dr Helena Fornwagner, at
    <a href="mailto:H.Fornwagner@exeter.ac.uk">H.Fornwagner@exeter.ac.uk</a>.
</p>


<p><strong>Voluntary Participation</strong> Your participation in this project is voluntary, and you are free to
    withdraw your consent and discontinue participation in the study at any time without penalty. If you wish to
    withdraw, stop completing the task and close your browser. If you do withdraw from the study, the materials that you
    have completed to that point will be deleted and will not be included in the study. Once the data have been
    collected and anonymised, it will not be possible to withdraw your responses.</p>

<p><strong>Confidentiality of Records</strong> Your responses to this study are anonymous. They may contain some
    personal characteristics, such as age, ethnicity, and gender, but will not include specific personal information,
    such as your name. The anonymised data will be stored securely and made available in a public repository for other
    researchers to use for scientific purposes. </p>

<p><strong>Data Policies</strong> Please note that the study will be conducted using the software Otree, with all data
    being stored on a secure University of Exeter research server. If you want to get to know more about Prolific's Data
    protection and privacy, please follow
    <a href="https://researcher-help.prolific.co/hc/en-gb/articles/445118-Data-Protection-and-Privacy"
        target="_blank">this link</a>.
</p>

<p><strong>Participant's Rights Information</strong> The Data Controller for this research is the University of Exeter.
    You can contact the University of Exeter's Information Governance office by emailing
    <a href="mailto:dataprotection@exeter.ac.uk">dataprotection@exeter.ac.uk</a>.
</p>

<p><strong>Ethical Review of this Research</strong> This study has been reviewed by the University of Exeter Business
    School Research Ethics Committee (UoEBS-REC) (Application ID: 11635526). UoEBS-REC may be contacted at
    s.boyne@exeter.ac.uk. You can also contact the University Research Ethics and Governance Team at
    cgr-reg@exeter.ac.uk.</p>

<p><strong>Results</strong> The results from this research will be published in academic journals and presented at
    conferences. You may visit the researcher's website or the University of Exeter's website to stay informed about new
    publications, or contact the research team directly for further information.</p>

{{ next_button }}

{{ endblock }}