    html {
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .game_container {
        border-radius: 4px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*
 * Styles for the deck of tiles
 */

    .deck {
        align-items: center;
        background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
        border-radius: 10px;
        box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 3em;
        min-height: 270px;
        padding: 10px;
        width: 320px;
    }

    .deck .tile {
        align-items: center;
        background: #2e3d49;
        border-radius: 8px;
        box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
        color: #ffffff;
        cursor: pointer;
        display: flex;
        font-size: 0;
        justify-content: center;
        height: 55px;
        width: 55px;
    }

    .deck .tile.open {
        background: #02b3e4;
        cursor: default;
        transform: rotateY(0);
    }

    .deck .tile.show {
        font-size: 33px;
    }

    .deck .tile.match {
        cursor: default;
        background: #02ccba;
        font-size: 33px;
    }

    /*
 * Styles for the Score Panel
 */

    .score-panel {
        display: flex;
        flex-wrap: nowrap;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        width: 400px;
    }

    .score-panel .stars {
        display: inline-block;
        margin: 0;
        margin: 0 5px 0 0;
        padding: 0;
        width: 20%;
    }

    .score-panel .stars li {
        display: inline-block;
        list-style: none;
    }

    .score-panel .timeElapsed {
        display: inline-block;
        width: 25%;
    }

    .score-panel .moves {
        display: inline-block;
        width: 25%;
    }

    .score-panel .matched {
        display: inline-block;
        width: 25%;
    }


    /*
 * Styles for Animations
 */

    @keyframes wrong-cards-color {
        0% {
            background-color: #ff3f00;
        }

        10%,
        90% {
            transform: translate3d(-1px, 0, 0);
        }

        20%,
        80% {
            transform: translate3d(2px, 0, 0);
        }

        30%,
        70% {
            transform: translate3d(-4px, 0, 0);
        }

        40%,
        60% {
            transform: translate3d(4px, 0, 0);
        }

        25% {
            background-color: #ffbb00;
        }

        50% {
            background-color: #ffbb00;
            transform: translate3d(-4px, 0, 0);
        }

        75% {
            background-color: #ffbb00;
        }

        100% {
            background-color: #ff3f00;
        }
    }

    @keyframes matching-cards-color {
        0% {
            background-color: #02ccba;
        }

        10%,
        90% {
            transform: translate3d(-1px, 0, 0);
        }

        20%,
        80% {
            transform: translate3d(2px, 0, 0);
        }

        25% {
            background-color: #02cc16;
        }

        30%,
        70% {
            transform: translate3d(-4px, 0, 0);
        }

        50% {
            background-color: #88ff00;
            transform: translate3d(-4px, 0, 0);
        }

        40%,
        60% {
            transform: translate3d(4px, 0, 0);
        }

        75% {
            background-color: #02cc16;
        }

        100% {
            background-color: #02ccba;
        }
    }

    .toBeReflipped {
        animation: wrong-cards-color 1.0s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
    }

    .match {
        animation: matching-cards-color 1.0s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
    }
