{{ extends "global/Page.html" }}
{{ load otree static }}

{{ block title }}
Questionnaire - page 5
{{ endblock }}

{{ block content }}

<style>
    .form-check-input {
        margin-left: 0;
    }
</style>


<br>
<p>
<div class="multichoice">
    <strong>Do you have any guesses as to why your menstrual bleeding stopped? 
       </strong>  Please select any of the following reasons that might apply:

        <div class="choices">
        {{ for field in C.MENO2N_REASON }}
        <label>
            <input type="checkbox" name="{{field.name}}" value="1">
            {{ field.label }}
        </label><br>
        {{ endfor}}
    </div>
</div>
</p>

{{ formfield player.meno2N_reason_other}}
<br>
{{ formfield player.meno2N_age}}
<br>
{{ formfield player.meno2N_monthyear}}
<br>
<br>
<p>
<div class="multichoice">
    <strong>Did you use any type of the following treatments within the last 12 months? </strong> (Check all that apply)

        <div class="choices">
        {{ for field in C.TREATMENT_ATTRS }}
        <label>
            <input type="checkbox" name="{{field.name}}" value="1">
            {{ field.label }}
        </label><br>
        {{ endfor}}
    </div>
</div>
</p>




{{ next_button }}

{{ endblock }}
