{{ extends "global/Page.html" }}
{{ load otree static }}

{{ block title }}
Questionnaire - page 5
{{ endblock }}

{{ block content }}

<style>
    .form-check-input {
        margin-left: 0;
    }
</style>

{{ formfield player.period }}
{{ formfield player.period_details }}
<br>
<p><strong>Please read the following definitions of the different stages of Menopause:</strong></p>
<p><strong>Perimenopause</strong> is the time leading up to menopause when a person may experience changes, such as irregular periods or other menopausal symptoms. This can be years before menopause.</p>

<p><strong>Menopause</strong> is when a person stops having periods and is no longer able to get pregnant naturally.
Menopause typically occurs naturally. However, it can also happen due to surgery, illness, genetic predisposition to early menopause or other reasons.</p>

<p><strong>Post menopause</strong> is the time after menopause has occurred, starting when a person has not had a period for twelve consecutive months.</p>

{{ formfield player.menopause }}

<br>
<p>
<div class="multichoice">
    <strong>If you are experiencing symptoms related to any stage of menopause, are you using any type of the following
        treatments?</strong> (Check all that apply)

        <div class="choices">
        {{ for field in C.TREATMENT_ATTRS }}
        <label>
            <input type="checkbox" name="{{field.name}}" value="1">
            {{ field.label }}
        </label><br>
        {{ endfor}}
    </div>
</div>
</p>

{{ next_button }}

{{ endblock }}
