{{ extends "global/Page.html" }}
{{ load otree static }}

{{ block title }}
Questionnaire - page 4
{{ endblock }}

{{ block content }}
<style>
    .form-check-input {
        margin-left: 0;
    }
</style>

<p>Please answer the following questions from the perspective “Have you, over the past few weeks, …”, on a scale from 0 Never to 3 Always.</p> 
<p>For example, “Have you, over the past few weeks, <i>Been able to concentrate on what you're doing?</i>”</p>

<table class="table table-hover">
    <thead>
        <tr>
            <td></td>
            <td>0<br>Never</td>
            <td>1</td>
            <td>2</td>
            <td>3<br>Always</td>
        </tr>
    </thead>

    <tbody>
        {{ for field in form }}
        <tr>
            <th scope="row" width="40%">
                {{ field.label}}
            </th>
            {{ for choice in field }}
            <td width="80px">{{ choice }}</td>
            {{ endfor }}
        </tr>
        {{ endfor }}
    </tbody>
</table>


{{ next_button }}

{{ endblock }}
