{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Memory Matching - Instructions
{% endblock %}

{% block content %}
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>Instructions</h3>
        <p>This is a simple matching game. You can select any two tiles at a time.
            <br> If they match, they will be turned over permanently. If they don't, they will be turned face down again
            and you
            can try another pair</p>

        <p>The less turns you take to turn over all of the tiles, the more you earn</p>
    </div>
</div>

<p>The image below is an example of a game in progress. Above the grid, is the current star rating base on the number of
    moves, the number of moves, and the number of tiles matched</p>


<img src="{% static 'global/MemMatchingScreenShot.png' %}" alt="Tile Game"  />

{% next_button %}

{% endblock %}