{{ extends "global/Page.html" }}
{{ load staticfiles otree_tags }}

{{ block title }}
Consent Page
{{ endblock }}

{{ block content }}
<div class="panel panel-danger">
    <div class="panel-heading"><strong>Attention!</strong></div>
    <div class="panel-body">
        <p><strong>You have <b>{{ C.CONSENT_TIMEOUT}}</b> seconds to read and accept this
                Consent Form.</strong></p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="box box1 shadow1">
            <p>You are invited to participate in an academic research study. Before you decide to participate in this
                study, it is essential that you understand why the research is conducted and what it will involve.
                Please take the time to read the <strong>GENERAL INFORMATION</strong> provided below.

            <p><u>Only start this study if you have 20 minutes to focus <strong>exclusively</strong> on it. Do not click
                    off the study page once you have started, and do not take a break from the study, or you may time
                    out.</u></p>

            <p><strong>About this Study called FitToWork: How Health Data Can Power Productivity</strong>
                If you choose to take part in the study, you will be asked to make economic decisions, i.e. decisions
                involving money.</p>

            <p></p>This study will take approximately 20 minutes.</p>

            <p>You will receive a base payment of £5 + a possible additional payment, depending on your decisions and
                the decisions of other participants.</p>

            <p>Detailed instructions will follow when you start the study. You will ...</p>
            <ul>
                <li>...be compensated as outlined in the study advert if you finish all parts of the study, pass the
                    built-in attention checks, and give consent to access to your Garmin data.</li>
                <li>...complete different tasks and answer a follow-up questionnaire.</li>
                <li>...receive clear instructions and accurate information on how your decisions will influence your
                    payment.</li>
                <li>...be free to withdraw your consent and discontinue participation in the study, without penalty, at
                    any time up until study completion. You can with-draw by closing the browser window.</li>
            </ul>

            <p><strong>Consent</strong></p>
            <p>Please read the following statements:</p>
            <ul>
                <li>I have read and understand the information provided above.</li>
                <li>I understand that my participation is voluntary.</li>
                <li>I understand that I may withdraw from and stop participating in the study at any time.</li>
                <li>I understand that there will be no negative consequences for withdrawal.</li>
                <li>I understand that once my data has been submitted in anonymised form, it cannot be withdrawn</li>
            </ul>

            <p class='red'>
                <i>{{form.consent}} I confirm that I have read the consent statements and agree to take part in this
                    research study.</i>
            </p>
        </div>
    </div>
</div>
<p>If you do not agree with the consent statements, please close the browser and do not participate in this study. </p>
<div class="new_placeholder_for_otree_timer" style="font-size: 1.5rem;"></div>
{{ next_button }}

{{ if form.consent.errors }}
<div class="modal fade" tabindex="-1" role="dialog" id='myModal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Please, accept this consent agreement</h4>
            </div>
            <div class="modal-body">
                <p>{{ form.consent.errors }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{ endif }}

</div>
{{ if form.consent.errors }}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
<script>
    $('#myModal').modal('toggle');
    $(document).ready(function () {
        var probs = $('.probs');
        probs.html("");
    });
</script>

{{ endif }}
<script>
    var $otree_timer = $('.otree-timer');
    $otree_timer.remove();
    $otree_timer.removeClass('alert alert-warning');
    $otree_timer.addClass('bs-callout bs-callout-danger');
    $('.new_placeholder_for_otree_timer').append($otree_timer);
    $otree_timer.show()
</script>

{{ endblock }}


{{ block styles}}
<style>
    .box {
        width: 100%;
        /*height:200px;*/
        float: left;
        background-color: white;
        /*margin:0px 10px 25px 15px;*/
        margin-bottom: 30px;
        border-radius: 5px;
    }

    .box1 {
        background-color: #fcf8e3;
        padding: 20px;
    }

    /*
    .shadow1{
      position:relative;
    }*/
    .shadow1 {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
    }

    .red {
        color: red;
    }
</style>{{ endblock }}