{{ extends "global/Page.html" }}
{{ load otree static }}

{{ block title }}
Introduction
{{ endblock }}

{{ block content }}

<p>This study has two parts:</p>

<p><strong>Part 1 -</strong> Three stages involving a real-effort task
<br><strong>Part 2 -</strong> A short survey</p>

<p>In <strong>Part 1,</strong> you will complete the same real-effort task three times. What changes across the stages
    is <strong>how you are paid</strong> for your performance in the task. Before each stage, you will receive clear
    instructions explaining the specific payment rules.</p>

<p>Your <strong>final payment</strong> will depend on your own performance and, in some stages, on the performance of
    other participants. After completing all three stages, <strong>one stage will be randomly selected</strong> to
    determine your <strong>bonus payment</strong>. This bonus will be paid <strong>in addition to a participation
        (show-up) fee of £3.00.</strong></p>

<p>All decisions are made <strong>anonymously</strong>, and all responses will remain <strong>strictly
        confidential.</strong></p>

<p>At the end of the study, you will be informed about your <strong>total earnings</strong> and the
    <strong>outcome</strong> of the selected stage.</p>

<p>Detailed instructions for each stage will be displayed on screen before it begins.</p>


{{ next_button }}

{{ endblock }}