{{ extends "global/Page.html" }}
{{ load otree static }}

{{ block title }}
Stage 3 - Competition
{{ endblock }}

{{ block content }}


<p>In this stage, you will again complete the same real-effort task.</p>

<p>You will have <strong>{{session.config.TILE_GRID_TIMEOUT_SECONDS}} seconds</strong> to find as many correctly matched
    pairs as possible.</p>

<p>You are now again randomly assigned to a <strong>different group of four participants</strong>, and it is a different
    group than in the previous stage.</p>

<p>You will not know who the other group members are, and they will not know who you are.</p>

<p>All decisions and results remain <strong>completely anonymous.</strong></p>

<p>Your <strong>payment</strong> for this stage will depend on how your performance compares with the other members of
    your group.</p>

<ul>
    <li>The <strong>participant who finds the highest number of correct pairs</strong> in the group will receive
        <strong>£{{session.config.COMP_PAIR_MATCH_PAY}} for each pair they personally matched correctly</strong>.
    </li>
    <li>The remaining group members will <strong>not receive any payment</strong> for this stage.</li>
    <li>In case of a tie for first place, the winner will be chosen <strong>at random</strong> among the top performers.
    </li>
</ul>

<p>If this stage is randomly selected for payment at the end of the study, your bonus will be determined based on this
    rule. </p>

<p>When you are ready to begin, please click <strong>“Next.”</strong> The stage will then start automatically.</p>


{{ next_button}}

{{ endblock }}