{{ extends "global/Page.html" }}
{{ load otree static }}

{{ block title }}
Stage 1 - Piece-rate payment
{{ endblock }}

{{ block content }}

<p>In this stage, you will complete the same real-effort task as in the trial round.</p>

<p>For <strong>each correctly matched pair</strong>, you will earn <strong>£{{session.config.SOLO_PAIR_MATCH_PAY}}</strong>.
</p>

<p>Your total earnings in this stage will therefore depend on how many correct matches you find within a
    <strong>{{session.config.TILE_GRID_TIMEOUT_SECONDS}} seconds time limit</strong>.</p>

<p>When you are ready to begin, please click <strong>“Next.”</strong> The stage will then start automatically.</p>


{{ next_button}}

{{ endblock }}