{{ extends "global/Page.html" }}
{{ load otree static }}

{{ block title }}
Stage 3 Instructions
{{ endblock }}

{{ block content }}
<p>Now Stage 1 of the study (Fixed payout) takes place, in which you <strong>receive {{C.FIXED_RATE}} ECU</strong>. You
    have <strong>2 minutes</strong> for this task.</p>


<p>As in the previous stages, you have <strong>2 minutes</strong> to correctly solve as many tile games as possible.
    Your payout for this stage will depend on your performance relative to the performance of a group
    of participants.</p>

<p><strong><u>Division into groups:</u></strong> Your are now randomly assigned to a group of 4.</p>

<strong>You will not find out who the other participants in your group are either during or after the experiment. So,
    all decisions will remain anonymous.</strong>
</p>

<p><strong><u>Payoff:</u></strong> If Stage 3 is the stage selected for payout, then your payoff will depend on how many
    tile games you have correctly solved in this stage compared to the other 3 participants in your group. </p>


<p>The TWO participants who have the largest number of correct matrices are the <strong>winners of the
        competition</strong>. Each of them receives <strong>{{C.COMPETITION_RATE}} ECU for each correct matrix</strong>,
    while the other TWO participants in the group <strong>receive no payout</strong>. The winning participants are
    determined randomly if there is a tie between two participants.
</p>

<p>When you are ready, please click on "Next" and Stage 3 will start automatically.</p>

{{ next_button}}

{{ endblock }}